html, body {
  height: 100%;
  width: 100%;
}

.buttons {
  margin: auto;
  background-color: lightblue;
  width: 100%;
  padding: 80px;
 
}

.button {
    display: block;
  width: 100px;
  border-radius: 5px;
  border: solid 1px #000;
  padding: 3px 7px;
}